/*body*/
body{
    /* Background pattern from transparenttextures.com, which uses Toptal Subtle Patterns*/
    background: url(shattered-dark.png), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Exo', sans-serif; 
}

/*Wrapper*/
#wrapper{
    visibility:hidden;
}

/*header*/
.groupn{
    color: white;
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 0px;
}

.gdesc{
    padding-left: 167px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.grouplogo{
    background-image: url("WingScythe%20Icon%20Detail_edited.png");
    background-color:white;
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 123px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20%;
}

/*Overlay*/
.pointer{
    cursor: pointer;
}

#overlogo{
    height: 638px;
    width: 783px;
    background: url("WingScythe%20Icon%20Detail_edited.png"); 
    background-size: contain;
    background-color: white;
    display: inline-block;
    border-radius: 20%;
}

#overlay{
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:auto;
    z-index: 2;
}

@keyframes glowblack {
    0% { box-shadow: 0 0 -50px black;}
    40% { box-shadow: 0 0 100px black;}
    60% { box-shadow: 0 0 100px black;}
    100% { box-shadow: 0 0 -50px black;}
}

@keyframes glowwhite {
    0% { box-shadow: 0 0 -100px white, inset 0 0 -10px grey;}
    40% { box-shadow: 0 0 200px white, inset 0 0 20px grey;}
    60% { box-shadow: 0 0 200px white, inset 0 0 20px grey;}
    100% { box-shadow: 0 0 -100px white, inset 0 0 -10px grey;}
}

/*maybe later*/
@keyframes perhamps {
    0% { box-shadow: 0 0 -10px black; transform-origin: right; transform:rotate(-360deg);}
    40% { box-shadow: 0 0 20px black; }
    60% { box-shadow: 0 0 20px black; }
    100% { box-shadow: 0 0 -10px black; transform-origin: left; transform:rotate(360deg);}
}

.glowanim {
/*  animation: glowblack 5000ms infinite;*/
    animation: glowwhite 5000ms infinite;
}

/*Center Block*/
.centBlock{
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:auto;
}

.centgn{
    text-align: center;
}

.centgd{
    text-align: center;
}

/*Navbar*/
#navbar{
    position: fixed;
    top: 0;
    right: -394px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

#navbar:hover{
    right:0;
}

.inline{
    float:left;
}

.navblock{
    background-color: black;
}

.navblock:hover{
    background-color: #ff4d4d;
}

.destylea{
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color:white;
}

/*Team*/
#team{
    text-align: center;
}

.profilebox{
    display: inline-block;
    margin: 15px;
    padding: 20px;
    height: 450px;
    width: 300px;
    text-align: center;
    border: solid black;
    background-color: antiquewhite;
    color: black;
    font-size: 15px;
}

.icon{
    margin-top: 20px;
    height:250px;
    width:250px;
    overflow: hidden;
    border: solid black;
}

.portfolio{
    text-decoration: none;
    color:black;
}

/*Custom Icon Configs*/
.custiconrx{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

/*media specific options*/
@media(max-width:783px){
    /*Overlay*/
    #overlogo{
        height: 244px;
        width: 300px;
        background: url(WingScythe.png); 
        background-size: contain;
        display: inline-block;
    }
}