html, body {
    min-height: 90%;
    overflow-x: hidden;
}

body{
    /* Background pattern from transparenttextures.com, which uses Toptal Subtle Patterns*/
    background: url(shattered-dark.png), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Exo', sans-serif; 
}

/*Wrapper -----------------------------------------------------------------------------------------------------------------*/
#wrapper{
    visibility:hidden;
}

.textCentered{
    text-align: center;
}

/*Header -----------------------------------------------------------------------------------------------------------------*/
.groupn{
    color: white;
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 0px;
}

.gdesc{
    padding-left: 167px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.grouplogo{
    background-image: url("WingScythe%20Icon%20Detail_edited.png");
    background-color:white;
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 123px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20%;
}

/*Overlay -----------------------------------------------------------------------------------------------------------------*/
.pointer{
    cursor: pointer;
}

#overlogo{
    height: 638px;
    width: 783px;
    background: url("WingScythe%20Icon%20Detail_edited.png"); 
    background-size: contain;
    background-color: white;
    display: inline-block;
    border-radius: 20%;
}

#overlay{
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:auto;
    z-index: 2;
}

@keyframes glowblack {
    0% { box-shadow: 0 0 -50px black;}
    40% { box-shadow: 0 0 100px black;}
    60% { box-shadow: 0 0 100px black;}
    100% { box-shadow: 0 0 -50px black;}
}

@keyframes glowwhite {
    0% { box-shadow: 0 0 -100px white, inset 0 0 -10px grey;}
    40% { box-shadow: 0 0 200px white, inset 0 0 20px grey;}
    60% { box-shadow: 0 0 200px white, inset 0 0 20px grey;}
    100% { box-shadow: 0 0 -100px white, inset 0 0 -10px grey;}
}

/*maybe later*/
@keyframes perhamps {
    0% { box-shadow: 0 0 -10px black; transform-origin: right; transform:rotate(-360deg);}
    40% { box-shadow: 0 0 20px black; }
    60% { box-shadow: 0 0 20px black; }
    100% { box-shadow: 0 0 -10px black; transform-origin: left; transform:rotate(360deg);}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.glowanim {
/*  animation: glowblack 5000ms infinite;*/
    animation: glowwhite 5000ms infinite;
}

/*Center Block -----------------------------------------------------------------------------------------------------------------*/
.centblock{
    min-height: 63vh;
    height:100%;
    width:100%;
}

.centgn{
    padding-top: 13vh;
    text-align: center;
    font-size: 100px;
}

.centgd{
    text-align: center;
}

.thickbar{
    border: 10px solid white;
}

#mainscreen{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/*Navbar*/
#navbar{
    position: fixed;
    top: 0;
    right: -394px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    z-index: 2;
}

#navbar:hover{
    right:0;
}

.navbutt{
    padding-top: 3px;
    padding-right: 3px;
}

.inline{
    float:left;
}

.navblock{
    /*background-color: mediumseagreen;*/
}

.navblock:hover{
    background-color: darkseagreen;
}

.destylea{
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color:white;
}

/*Team -----------------------------------------------------------------------------------------------------------------*/
#team{
    text-align: center;
}

.profilebox{
    display: inline-block;
    margin: 15px;
    padding: 20px;
    height: 450px;
    width: 300px;
    text-align: center;
    border: solid black;
    background-color: antiquewhite;
    color: black;
    font-size: 15px;
}

.icon{
    margin-top: 20px;
    height:250px;
    width:250px;
    overflow: hidden;
    border: solid black;
}

.portfolio{
    text-decoration: none;
    color:black;
}

.paffils{
    font-size: 14px;
}

/*Projects -----------------------------------------------------------------------------------------------------------------*/

/* Slideshow container */
.slideshow-container {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

/* Hide the images by default */
.underSlide, .mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: white;
    color:black;
}

/* Caption text */
.caption {
    color: Black;
    font-size: 100px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.projectbox{
    text-align: center;
}

.showcase{
    height: 50vh;
    width: auto;
}

.imgfill{
    max-height: 100%;
    max-width: 100%;
}

.dropbutt{
    
}

.dropcont{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.active {
    background-color: darkseagreen;
    color: green;
    border-top: solid green;
}

/*Custom Icon Configs ------------------------------------------------------------------------------------------------------*/
.custiconrx{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.custiconet{
    background-image: linear-gradient(120deg, #336dff 0%, #65f7f0 100%);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

/*media specific options ---------------------------------------------------------------------------------------------------*/
@media(max-width:783px){
    /*Overlay*/
    #overlogo{
        height: 244px;
        width: 300px;
        background: url(WingScythe%20Icon%20Base_edited.png); 
        background-size: contain;
        display: inline-block;
    }
    
    #navbar{
        position: fixed;
        top: 0;
        right: -330px;
        font-size: 13px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        transition: 0.3s;
        z-index: 2;
    }
    
    .centgn{
        padding-top: 13vh;
        text-align: center;
        font-size: 50px;
    }
}

@media(any-pointer: coarse){
    .navblock:hover{
        background-color: darkseagreen;
    }
    
    #navbar:hover{
        right:0;
    }
}